SECRET_KEY=project_secret_key
DEBUG=False
ALLOWED_HOSTS=example1.com, example2.com, example3.com
CSRF_TRUSTED_ORIGINS=https://example.com, http://example.com

POSTGRES_DB=market
POSTGRES_USER=user
POSTGRES_PASSWORD=secretpassword
POSTGRES_HOST=db
POSTGRES_PORT=5432
