:80 {
    encode zstd gzip

    handle_path /static/* {
        root * /src/backend/static
        header Cache-Control "public, max-age=604800"
        file_server
    }

    handle_path /media/* {
        root * /src/backend/media
        header Cache-Control "public, max-age=604800"
        file_server
    }

    @django path /__debug__ /__debug__/* /api /api/* /admin /admin/*
    handle @django {
        reverse_proxy http://backend:8000
    }

    handle {
        reverse_proxy http://frontend:3000
    }
}
